{
  "env": {
    "production": {
      "presets": [
        [
          "@babel/preset-env", {
            "loose": true,
            "modules": false,
            "targets": {
              "browsers": "defaults"
            }
          }
        ]
      ],
      "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-proposal-export-default-from",
        "@babel/plugin-proposal-export-namespace-from"
      ]
    },
    "commonjs": {
      "presets": [
        [
          "@babel/preset-env", {
            "loose": true,
            "targets": {
              "browsers": "defaults"
            },
            "modules": "commonjs"
          }
        ]
      ],
      "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-proposal-export-default-from",
        "@babel/plugin-proposal-export-namespace-from"
      ]
    },
    "es": {
      "presets": [
        [
          "@babel/preset-env", {
            "loose": true,
            "modules": false
          }
        ]
      ],
      "plugins": [
        "@babel/plugin-proposal-export-default-from",
        "@babel/plugin-proposal-export-namespace-from"
      ]
    },
    "development": {
      "presets": [
        [
          "@babel/preset-env", {
            "loose": true,
            "modules": false
          }
        ]
      ],
      "plugins": [
        "@babel/plugin-proposal-export-default-from",
        "@babel/plugin-proposal-export-namespace-from"
      ]
    },
    "cli": {
      "presets": [
        [
          "@babel/preset-env", {
            "loose": true,
            "modules": false
          }
        ]
      ],
      "plugins": [
        "@babel/plugin-proposal-export-default-from",
        "@babel/plugin-proposal-export-namespace-from"
      ]
    }
  }
}
